{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4" style="max-width: 450px;">
    <!--Return to Home-->
    <div class="mb-3">
        <a href="{% url 'home' %}" class="btn rounded-1 fn-shop">
            <i class="fa-solid fa-chevron-left me-2"></i>
            Home
        </a>
    </div>

    <div class="text-center">
        <h2 class="text-uppercase">Welcome back</h2>
        <p class="text-muted small">Enter your details to login</p>
    </div>

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        <div class="mb-4">
            {{ form|crispy }}
        </div>

        {{ redirect_field }}

        <p class="mt-2">
            <a href="{% url 'account_reset_password' %}">
                {% trans "Forgot password?" %}
            </a>
        </p>
        
        <!-- Submit button -->
        <button type="submit" class="btn w-100 rounded-1 fn-shop mt-3 mb-3">
            {% trans "Sign In" %}
        </button>

        <!-- Signup-->
        <p class="text-muted mt-2 text-center">
            {% blocktranslate %}
            Don't have an account? <a href="{{ signup_url }}"> Sign up</a>
            {% endblocktranslate %}
        </p>
    </form>
</div>

<style>
    .form-group, .mb-3, .mb-4, .form-control {
        margin-bottom: 1.2rem !important;
    }
</style>
{% endblock %}