{% extends "base.html" %}

{% block content %}
<div class="container p-3 mt-5 mb-4 form-box shadow-sm" style="max-width: 450px;">
    <h2 class="text-start text-uppercase mb-3">Check your email</h2>
    <p class="text-muted">
        If an account exists with that email, we've sent a reset link.
    </p>
        <!--Return to Login-->
    <div class="m2-4">
        <a href="{% url 'account_login' %}" class="btn rounded-1 fn-shop">
            Back to Login
        </a>
    </div>
</div>
{% endblock %}
