{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}    
<!--Return to Home-->
<div class="m-3">
    <a href="{% url 'home' %}" class="btn rounded-1 fn-shop">
        <i class="fa-solid fa-chevron-left me-2"></i>
        Home
    </a> 
</div>
<div class="container mt-2 mb-4 form-box shadow-sm" style="max-width: 450px;">
    <div class="text-center mt-4">
        <h2 class="text-uppercase">Create Account</h2>
        <p class="text-muted small">Enter your details to sign up</p>
    </div>

    <form action="{% url 'account_signup' %}">
        {% csrf_token %}

        <!-- Crispy form fields -->
        <div class="mb-4">
            {{ form|crispy }}
        </div>

        {{ redirect_field }}

        <!-- Submit -->
        <button type="submit" class="btn w-100 rounded-1 fn-shop mt-3 mb-3">
            {% trans "Sign Up" %}
        </button>

        <!-- Already have an account -->
        <p class="text-muted mt-2 text-center">
            {% blocktranslate %}
            Already have an account? <a href="{{ login_url }}">Log in</a>
            {% endblocktranslate %}
        </p>
    </form>
</div>

<!-- Extra spacing for crispy fields -->
<style>
    .form-group, .mb-3, .mb-4, .form-control {
        margin-bottom: 1.2rem !important;
    }
</style>

{% endblock %}
