{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container pb-5 pt-5 pt-md-6">
  <div class="row align-items-center gy-5">
    <div class="col-md-5 text-center text-md-start">
      <h1 class="fw-bold mb-4">Welcome to Mealmotion!</h1>
      <p class="lead mb-4">Your ultimate destination for fitness and nutrition.</p>
      <p class="mb-4">
        Mealmotion provides users with access to recipes, personalized meal plans,
        and helpful fitness and nutrition tools.<br><br>
        Created for those who train hard but struggle with nutrition, Mealmotion
        helps you stay consistent and discover recipes that match your fitness goals
        and dietary needs. It is also ideal for anyone looking to lead a healthier
        lifestyle while juggling everyday responsibilities.
      </p>
      <a href="#" class="btn btn-primary btn-lg rounded-0 mt-3 text-uppercase">Shop Fitness & Nutrition</a>
    </div>
    <div class="col-md-7 text-center">
      <img src="" alt="Hero Image" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}