{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <div class="container pt-5 pt-md-6">
    <div class="row align-items-center gy-5">
      <div class="col-md-6 text-center text-md-start order-2 order-md-1">
        <h1 class="mb-4 text-center text-md-start">Welcome to . . . <br><strong>Mealmotion !</strong> </h1>
        <p class="mb-4 subtitle">Your ultimate destination for fitness and nutrition.</p>
        <p class="mb-4">
          Mealmotion provides users with access to recipes, personalized meal plans,
          and helpful fitness and nutrition tools.<br><br>
          Created for those who train hard but struggle with nutrition, Mealmotion
          helps you stay consistent and discover recipes that match your fitness goals
          and dietary needs. It is also ideal for anyone looking to lead a healthier
          lifestyle while juggling everyday responsibilities.
        </p>
        <a href="{% url 'products' %}" class="btn btn-primary btn-lg rounded-1 text-uppercase mb-4 fn-shop">Fitness & Nutrition Shop</a>
      </div>
      <div class="col-md-6 text-center order-1 order-md-2">
        <img src="" alt="Hero Image" class="img-fluid">
      </div>
    </div>
  </div>
</main>
{% endblock %}