{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="mb-2 text-center">
        {% if not current_categories %}
        <h1>Recipe Catalogue</h1>
        <p class="text-muted">Browse the menu to find a recipe that suits your needs</p>
        {% else %}
        <h1 class="text-center">{{ category_objects.first.friendly_name }}</h1>
        {% endif %}
        <p>
            {% if search_term or current_categories or current_sorting %}
            <span><a class="link-offset-1" href="{% url 'recipes' %}">All Recipes</a> | </span>
            {% else %}
            <span><a class="link-offset-1" href="{% url 'home' %}">Return to Home</a> | </span>
            {% endif %}
            {{total_products}} Recipes {% if search_term %} found for "{{search_term}}"{% endif %}
        </p>
    </div>
    <hr>

    <!--Sort and Filter Buttons-->
    <div class="d-flex flex-column flex-sm-row justify-content-between gap-2">

        <button class="btn rounded-1 fn-shop dropdown-toggle text-uppercase" type="button" id="sortDropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            Filter By Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=supplement">High Protein</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=hydration">Low Calorie</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=fitness_equipment">Meaty Dishes</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=fitness_equipment">Fish and Seafood</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=kitchen_tools">Vegetarian</a></li>
        </ul>

        <button class="btn rounded-1 fn-shop dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            {% if not request.GET.sort %}
            Sort By . . .
            {% else %}
            Sort By |
            {% if request.GET.sort == "category" %}
            Category ({% if request.GET.direction == "desc" %}Z-A{% else %}A-Z{% endif %})
            {% elif request.GET.sort == "name" %}
            Name ({% if request.GET.direction == "desc" %}Z-A{% else %}A-Z{% endif %})
            {% elif request.GET.sort == "price" %}
            Price ({% if request.GET.direction == "desc" %}Z-A{% else %}A-Z{% endif %})
            {% elif request.GET.sort == "rating" %}
            Rating
            {% endif %}
            {% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Category (A-Z)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=desc">Category (Z-A)</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">Name
                    (A-Z)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc">Name
                    (Z-A)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Rating</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-3 mb-4">
            <!--Container contents wrapped in link to recipe details-->
            <a href="{% url 'recipe_details' recipe.id %}" class="text-dark text-decoration-none d-block">
                <div class="category-badge">
                    <i class="fa-solid fa-utensils me-2"></i>
                    {% for category in recipe.categories.all %}
                        {{ category.friendly_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                {% if recipe.image %}
                <img src="{{ recipe.image_url }}" class="recipe-image w-100" alt="{{ recipe.name }}">
                {% else %}
                <img src="{% static 'media/no-image-icon-0.jpg' %}" class="recipe-image w-100"
                    alt="No Image Available">
                {% endif %}
                <!--Recipe Info-->
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-5 mb-2">{{ recipe.name }}</h5>
                            <small>
                                <strong class="text-end">
                                    <i class="fa-solid fa-star fa-xs" style="color: #FFD43B;"></i>
                                    {{ recipe.rating }}/5
                                </strong>
                            </small>
                        </div>
                        <p class="fw-bold">{{ recipe.nutritional_value.calories }} Kcal</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <!--Product Management-->
                    {% if request.user.is_superuser %}
                        <small>
                            <a href="{% url 'edit_product' product.id %}">Edit</a>
                            <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                        </small>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!--Back to Top Button-->
{% if recipes %}
<div class="d-flex justify-content-center">
    <button type="button" class="btn rounded-1 fn-shop text-uppercase text-center mb-5" id="btt-btn"
        onclick="topFunction()">
        <i class="fa-solid fa-chevron-up mx-2"></i>
        Back to Top
    </button>
</div>
{% endif %}
<script>
    let bttButton = document.getElementById("btt-btn");

    bttButton.addEventListener("click", topFunction);

    function topFunction() {
        window.scrollTo({ top: 0, behavior: "smooth" });
    }
</script>

{% endblock %}