{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="mb-2 text-center">
        <h1>Recipe Catalogue</h1>
        <p class="text-muted">Browse the menu to find a recipe that suits your needs</p>
        <h1 class="text-center">{{ category_objects.first.friendly_name }}</h1>
        <p>
            <span><a class="link-offset-1" href="{% url 'home' %}">Return to Home</a></span>
        </p>
    </div>
    <hr>

    <div class="d-flex flex-column flex-sm-row justify-content-between gap-2">
 
    </div>
</div>

<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-3 mb-4">
            <!--Container contents wrapped in link to recipe details-->
            <a href="{% url 'recipe_details' recipe.id %}" class="text-dark text-decoration-none d-block">
                <div class="category-badge">
                    <i class="fa-solid fa-utensils me-2"></i>
                    {% for category in recipe.categories.all %}
                        {{ category.friendly_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                {% if recipe.image %}
                <img src="{{ recipe.image_url }}" class="recipe-image w-100" alt="{{ recipe.name }}">
                {% else %}
                <img src="{% static 'media/no-image-icon-0.jpg' %}" class="recipe-image w-100"
                    alt="No Image Available">
                {% endif %}
                <!--Recipe Info-->
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="d-flex flex-column">
                            <h5 class="fs-5 mb-2">{{ recipe.name }}</h5>
                            <p class="fw-bold mb-2">{{ recipe.nutritional_value.calories }} Kcal</p>
                            <small>
                                <strong>
                                    <i class="fa-solid fa-star fa-xs" style="color: #FFD43B;"></i>
                                    {{ recipe.rating }}/5
                                </strong>
                            </small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!--Back to Top Button-->
{% if recipes %}
<div class="d-flex justify-content-center">
    <button type="button" class="btn rounded-1 fn-shop text-uppercase text-center mb-5" id="btt-btn"
        onclick="topFunction()">
        <i class="fa-solid fa-chevron-up mx-2"></i>
        Back to Top
    </button>
</div>
{% endif %}
<script>
    let bttButton = document.getElementById("btt-btn");

    bttButton.addEventListener("click", topFunction);

    function topFunction() {
        window.scrollTo({ top: 0, behavior: "smooth" });
    }
</script>

{% endblock %}