/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styles */
body {
    font-family: 'Archivo', sans-serif;
    background-color: #f9f3ec;
    color: #333533;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 84px; 
    line-break: 1.5;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p {
    font-size: 14px;
    margin-bottom: 1rem;
}

p.subtitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
/* Navigation Bar */
.custom-nav {
    background-color: #f9f3ec !important;
    height: 64px;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #333533 !important;
}

#nav-banner {
    background-color: #79b4e2;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.nav-link {
    color: #333533 !important;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-item:hover .nav-link {
    color: #ec4e20 !important;
    background-color: transparent !important;
}

.bag-price {
    font-size: 12px;
}

.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 50px;
}
.nav-icon p {
    margin: 2px 0 0;
    font-size: 12px;
}

/* Buttons */
.fn-shop, .form-btn {
    background-color: #333533 !important;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.fn-shop:hover, .form-btn:hover,
#sortDropdown.show {
    background-color: #ffffff !important;
    color: #333533;
    border: 1px solid #333533;
}

.fn-shop {
    padding: 12px 24px;
}

.form-btn {
    padding: 6px 12px;
}

/* Footer */
.custom-footer {
    background-color: #ec4e20 !important;
    color: #ffffff !important;
    font-family: 'Archivo', sans-serif;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem 0;
}

.f-text {
    font-size: 14px;
    text-transform: uppercase;
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #f9f3ec;
    text-align: center;
    border-color: #adabab;
    border-radius: 4px;
}

.dropdown-item:hover {
    background-color:#f9f3ec;
    color:#ec4e20;
    font-size: 18px;
}

.dropdown-heading {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}


/* Products & Recipes */
.product-image , .recipe-image {
    width: 100%;         
    height: 350px;       
    object-fit:cover;
}

.category-badge {
    position: absolute;
    background: #ec4e20;
    color: white;
    padding: 15px;
    font: 12px 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 2px 4px #333533;
}

.delivery-box {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.delivery-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.delivery-item i {
    margin-right: 10px;
    color: #79b4e2;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-header i, .recipe-header i {
    cursor: pointer;
    color: #a31621;
}
.form-box {
    border-radius: 4px;
    background-color: #e9e3dc;
}

/* Media Queries */
@media (max-width: 992px) {
    .navbar .navbar-collapse { 
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: #f9f3ec;
        padding: 1rem;
        z-index: 1050;
        box-shadow: 0 4px 4px #333533;
    }
}

@media (max-width: 768px) {  
    .navbar-brand {
    font-size: 28px;
    }
    .dropdown-nav-mobile {
    border: none;
    box-shadow: none;
    }

    .dropdown-item:hover {
        background-color: #e9e3dc;
    }
}

@media (max-width: 600px) {
    .fn-shop, .form-btn {
        width: 100%;
    }
    .navbar-nav {
        gap: 0.5rem;
    }
    .product-image {        
    height: fit-content;        
    object-fit:contain;
}
}