<footer class="bg-body-tertiary shadow-sm py-3 mt-auto custom-footer">
  <div
    class="container d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start gap-3">
    <!-- Copyright -->
    <div>
      <small>&copy; 2025 MEALMOTION. All rights reserved.</small>
    </div>
    <!-- Customer service -->
    <div class="text-center">
      <strong class="d-block mb-2 f-text">Customer Service</strong>
      <ul class="list-unstyled mb-0">
        <li><a href="#" class="text-reset text-decoration-none">How it works</a></li>
        <li><a href="#" class="text-reset text-decoration-none">Orders</a></li>
      </ul>
    </div>
    <!-- Contact -->
    <div class="text-center">
      <strong class="d-block mb-2 f-text">Stay Connected</strong>
      <div class="mb-2">
        <a href="https://en-gb.facebook.com/" class="text-reset me-2"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/" class="text-reset me-2"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/" class="text-reset me-2"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.threads.com/" class="text-reset me-2"><i class="fa-brands fa-threads"></i></a>
      </div>
      <!-- Subscription Form -->
      <form method="POST" action="#"
        class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-end gap-1">
        <input class="form-control form-control-sm" type="email" name="email" placeholder="Email address"
          aria-label="Email address" required>
        <button class="btn btn-outline-success btn-sm text-uppercase form-btn" type="submit">
          Subscribe
        </button>
      </form>
    </div>
  </div>
</footer>