<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="..." alt="Logo" width="30" height="24"class="me-2 d-inline-block align-text-top">
        Mealmotion
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible Content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-3 text-center">
          <!-- Dropdown 1 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="shopDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Fitness & Nutrition Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="shopDropdown">
              <li><a class="dropdown-item" href="#">All Products</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Category 1</a></li>
              <li><a class="dropdown-item" href="#">Category 2</a></li>
              <li><a class="dropdown-item" href="#">Category 3</a></li>
              <li><a class="dropdown-item" href="#">Category 4</a></li>
            </ul>
          </li>

          <!-- Dropdown 2 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="recipeDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Recipe Catalogue
            </a>
            <ul class="dropdown-menu" aria-labelledby="recipeDropdown">
              <li><a class="dropdown-item" href="#">All Recipes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Category 1</a></li>
              <li><a class="dropdown-item" href="#">Category 2</a></li>
              <li><a class="dropdown-item" href="#">Category 3</a></li>
            </ul>
          </li>

          <!-- Regular Links -->
          <li class="nav-item"><a class="nav-link" href="#">Membership</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Quiz</a></li>
        </ul>

        <div class="d-flex align-items-center gap-3">
          <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
          <a href=""><i class="fa-solid fa-user"></i></a>
          <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
      </div>
    </div>
</nav>