/* Checkout Styles */

#payment-form, .success-box {
    border-radius: 4px;
    background-color: #e9e3dc;
}
#card-element{
    background-color:#ffff;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 15px;
}

.country-select option[value=""] {
    color: #d1d7de;
}
/* Checkout Success */
.success-wrapper{
    display: flex;                 
    justify-content: center;       
    align-items: center;           
    min-height: 100vh;             
    padding: 20px;                
}
.success-box, .card{
   max-width: fit-content;
}

.card-wrapper{
    display: flex;                 
    justify-content: center;       
    align-items: center; 
}

.check-icon{
    font-size: 4em;
    margin-top: 15px;
}


