{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <!--Return to Products-->
    <div class="mb-4">
        <a href="{% url 'products' %}" class="btn rounded-1 fn-shop">
            <i class="fa-solid fa-chevron-left me-2"></i>
            Continue Shopping
        </a>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4 position-relative">
            <div class="category-badge">
                {{ product.category.friendly_name }}
            </div>
            {% if product.image %}
                <img src="{{ product.image_url }}" class="img-fluid rounded" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'media/no-image-icon-0.jpg' %}" class="img-fluid rounded" alt="No Image Available">
            {% endif %}
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <div class="product-header mb-3">
                <h1 class="mb-0">{{ product.name }}</h1>
                <i class="fa-solid fa-heart-circle-plus fa-xl"></i>
            </div>
            <div class="d-flex align-items-center">
                <strong>
                    <i class="fa-solid fa-star fa-xs" style="color: #FFD43B;"></i>
                    {{ product.rating }}/5
                </strong>
            </div>
            
            <!--Product Management-->
            {% if request.user.is_superuser %}
                <small class="mb-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                </small>
            {% endif %}        

            <p class="mb-4 fs-6 text-muted">{{ product.description }}</p>

            <h3 class="fw-bold mb-4">£ {{ product.price }}</h3>

            <!-- QTY Selector -->
            <form method="POST" action="{% url 'add_items' product.id %}">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <div class="mb-3">
                    <label class="form-label"><strong>QTY</strong></label>
                    <div class="input-group">
                        <!--Decrease Qty Button-->
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary fn-shop"
                                id="decrement-qty_{{ product.id }}" data-item-id="{{ product.id }}">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </div>
                        <input type="number" id="id_qty_{{ product.id }}" name="quantity" value="1" min="1" max="99"
                            class="form-control text-center" data-item-id="{{ product.id }}" style="max-width: 180px;">
                        <!--Increase Qty Button-->
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary fn-shop"
                                id="increment-qty_{{ product.id }}" data-item-id="{{ product.id }}">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn w-100 rounded-1 fn-shop mb-4">
                    Add to Bag
                    <i class="fa-solid fa-bag-shopping fa-lg text-center mx-2"></i>
                </button>
            </form>

            <!-- Delivery Info -->
            <div class="delivery-box">
                <div class="delivery-item">
                    <i class="fa-solid fa-truck-fast fa-xl"></i>
                    <span><strong>Free Delivery</strong> on orders over
                        <strong>£{{free_delivery_threshold}}</strong></span>
                </div>
                <div class="delivery-item mb-0">
                    <i class="fa-solid fa-box-open fa-xl"></i>
                    <span>Standard Delivery from £3.99</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% include 'products/includes/qty_selector_script.html' %}
{% endblock %}
