{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="mb-4 text-center">
        <h1>Products</h1>
        <p>
            <small>{{ total_products }} Products</small>
        </p>
    </div>

    <!--Sort and Filter Buttons-->
    <div class="d-flex flex-column flex-sm-row justify-content-between gap-2">

        <button class="btn rounded-1 fn-shop dropdown-toggle text-uppercase" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Filter By Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li class="text-center dropdown-heading">Filter</li><hr>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=supplement">Supplements</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=hydration">Hydration</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=fitness_equipment">Fitness Equipment</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=kitchen_tools">Kitchen Tools</a></li>
        </ul>

        <button class="btn rounded-1 fn-shop dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Sort By
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li class="text-center dropdown-heading">Sort</li><hr>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc"><strong>Price:</strong>Low-High</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc"><strong>Price:</strong>High-Low</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc"><strong>Alphabetically:</strong>A-Z</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc"><strong>Category</strong></a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc"><strong>Rating</strong></a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <!--Container conents wrapped in link to product details-->
            <a href="{% url 'product_details' product.id %}" class="text-dark text-decoration-none d-block">
                <div class="category-badge">
                        {{ product.category.friendly_name }}
                </div>
                <img src="{{ product.image_url }}" class="product-image w-100" alt="{{ product.name }}">
                <!--Product Info-->
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <h5 class="fs-5 mb-0">{{ product.name }}</h5>
                    <div class="d-flex align-items-center">
                        <small>
                            <strong class="me-1">
                                <i class="fa-solid fa-star fa-xs" style="color: #FFD43B;"></i>
                                {{ product.rating }} / 5
                            </strong>
                        </small>
                    </div>
                </div>
                <p class="mb-2 fs-6 text-muted product-description">{{ product.description }}</p>
                <p class="fw-bold fs-6">£ {{ product.price }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}