{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="mb-4 text-center">
        {% if not current_categories %}
        <h1>Products</h1>
        {% else %}
        <h1 class="text-center">{{ category_objects.first.friendly_name }}</h1>
        {% endif %}
        <p>
            {% if search_term or current_categories or current_sorting %}
            <span><a class="link-offset-1" href="{% url 'products' %}">Fitness & Nutrition Home</a> | </span>
            {% else %}
            <span><a class="link-offset-1" href="{% url 'home' %}">Return to Home</a> | </span>
            {% endif %}
            {{total_products}} Products {% if search_term %} found for "{{search_term}}"{% endif %}
        </p>
    </div><hr>

    <!--Sort and Filter Buttons-->
    <div class="d-flex flex-column flex-sm-row justify-content-between gap-2">

        <button class="btn rounded-1 fn-shop dropdown-toggle text-uppercase" type="button" id="sortDropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            Filter By Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=supplement">Supplement</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=hydration">Hydration</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=fitness_equipment">Fitness Equipment</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=kitchen_tools">Kitchen Tools</a></li>
        </ul>

        <button class="btn rounded-1 fn-shop dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            {% if not request.GET.sort %}
            Sort By . . .
            {% else %}
            Sort By |
            {% if request.GET.sort == "category" %}
            Category ({% if request.GET.direction == "desc" %}Z-A{% else %}A-Z{% endif %})
            {% elif request.GET.sort == "name" %}
            Name ({% if request.GET.direction == "desc" %}Z-A{% else %}A-Z{% endif %})
            {% elif request.GET.sort == "price" %}
            Price ({% if request.GET.direction == "desc" %}Z-A{% else %}A-Z{% endif %})
            {% elif request.GET.sort == "rating" %}
            Rating
            {% endif %}
            {% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Category (A-Z)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=desc">Category (Z-A)</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">Name
                    (A-Z)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc">Name
                    (Z-A)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price
                    (Low-High)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price
                    (High-Low)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Rating</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <!--Container contents wrapped in link to product details-->
            <a href="{% url 'product_details' product.id %}" class="text-dark text-decoration-none d-block">
                <div class="category-badge"><i class="fa-solid fa-tags"></i>
                    {{ product.category.friendly_name }}
                </div>
                <img src="{{ product.image_url }}" class="product-image w-100" alt="{{ product.name }}">
                <!--Product Info-->
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <h5 class="fs-5 mb-0">{{ product.name }}</h5>
                    <div class="d-flex align-items-center">
                        <small>
                            <strong class="me-1">
                                <i class="fa-solid fa-star fa-xs" style="color: #FFD43B;"></i>
                                {{ product.rating }} / 5
                            </strong>
                        </small>
                    </div>
                </div>
                <p class="mb-2 fs-6 text-muted product-description">{{ product.description }}</p>
                <p class="fw-bold fs-6">£ {{ product.price }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!--Back to Top Button-->
{% if products %}
<div class="d-flex justify-content-center">
    <button type="button" class="btn rounded-1 fn-shop text-uppercase text-center mb-5" id="btt-btn"
        onclick="topFunction()">
        <i class="fa-solid fa-chevron-up mx-2"></i>
        Back to Top
    </button>
</div>
{% endif %}
<script>
    let bttButton = document.getElementById("btt-btn");

    bttButton.addEventListener("click", topFunction);

    function topFunction() {
        window.scrollTo({ top: 0, behavior: "smooth" });
    }
</script>

{% endblock %}